// BANNER ASSETS
// Individual image styles
#bkg {
  @extend %absolute;
  z-index: $bkg-z-index;
  left: (-$bkg-movement);
}

#logo {
  @extend %absolute;
  z-index: $content-z-index;
}

#F1 {
  @extend %absolute;
  z-index: $content-z-index;
}

#F2 {
  @extend %absolute;
  z-index: $content-z-index;
}

#F3 {
  @extend %absolute;
  z-index: $content-z-index;
}


#F4 {
  @extend %absolute;
  z-index: $content-z-index;
}

#F5 {
  @extend %absolute;
  z-index: $content-z-index;
}

#button {
  @extend %absolute;
  z-index: $content-z-index;

  // Set transform origin to the centre of the button to ensure correct scale effect
  transform-origin: $button-transform-x $button-transform-y;
}

#arrow {
  @extend %absolute;
  z-index: $content-z-index;
  top: 0;
  left: 0;
}

#legals {
  @extend %absolute;
  z-index: $content-z-index;
}

#disclaimer {
  @extend %absolute;
  z-index: $content-z-index;
}
