// SETTINGS
// Set portrait orientation size only - landscape sizes dealt with automatically
$banner-width: 320px;
$banner-height: 50px;

// Z-Indexing
$bkg-z-index: 200;
$content-z-index: 300;
$border-z-index: 400;
$campaign-link-z-index: 500;

// Animations
$bkg-movement: 55px;
$frame-elements-movement: 10px;

// Button transform co-ordinates (Get X/Y position from source PSD)
$button-transform-x: 151px;
$button-transform-y: 162px;

// *

// MIXINS & SHADOW CLASSES
// Banner sizing
%sizing {
  position: absolute;
  width: $banner-width;
  height: $banner-height;
}

// Hide assets
%zero-opacity {
  opacity: 0;
}
