// bower:scss
// endbower

// Settings & mixins
// Set portrait orientation size only - landscape sizes dealt with automatically
$banner-width: 320px;
$banner-height: 480px;

// Banner sizing
%sizing {
  position: absolute;
  width: $banner-width;
  height: $banner-height;
}

// Hide assets
%zero-opacity {
  opacity: 0;
}

// *

// Center banner for development
body {
  text-align: center;
}

.banner {
  position: relative;
  margin-top: 50px;
  display: inline-block;
  text-align: left;
}


body {
  // Set some defaults
  width: 100%;
  height: 100%;
  margin: auto;
}

// Preloader
.preloader-box {
  @extend %sizing;

  z-index: 200;
}

.banner {
  @extend %sizing;

  // border: 1px solid #939598;
  // box-sizing: border-box;
}

.preloader{
  position:absolute;
  $preloader-width: 32px;
  $preloader-height: 32px;

  width: $preloader-width;
  height: $preloader-height;
  height:auto;
  z-index: 201;

  top: ($banner-height / 2) - ($preloader-height / 2);
  left: ($banner-width / 2) - ($preloader-width / 2);
}

.preloader-bkg {
  @extend %sizing;
  background-color: white;
}

// Content box
.content {
  @extend %sizing;

  overflow: hidden;
  z-index: 100;

  // If you can't click things this might be the reason why
  pointer-events: none;
}

.links {
  @extend %sizing;
}

.exit-link {
  @extend %sizing;
  @extend %zero-opacity;

  cursor: pointer;
  z-index: 300;
}

.campaign-link {
  @extend %sizing;
  position: absolute;

  z-index: 800;
}


// *


// IMAGE ASSETS
// For absolute positioning the images
.absolute {
  position: absolute;
}

$bkg-movement: -30px;
$frame-elements-movement: -15px;

// Individual image styles
#bkg {
  @extend %zero-opacity;
  z-index: 201;
  left: -30px;
}

#logo {
  // @extend %zero-opacity;
  z-index: 202;
}

#F1 {
  @extend %zero-opacity;
  z-index: 202;
  top: $frame-elements-movement;
}

#F2 {
  @extend %zero-opacity;
  z-index: 202;
  top: $frame-elements-movement;
}

#S1 {
  @extend %zero-opacity;
  z-index: 202;
  top: $frame-elements-movement;
}

#S2 {
  @extend %zero-opacity;
  z-index: 202;
  top: $frame-elements-movement;
}

#S3 {
  @extend %zero-opacity;
  z-index: 202;
  top: $frame-elements-movement;
}

#legals {
  @extend %zero-opacity;
  z-index: 202;
  top: $frame-elements-movement;
}

#F4 {
  @extend %zero-opacity;
  z-index: 202;
  top: $frame-elements-movement;
}

#F5 {
  @extend %zero-opacity;
  z-index: 202;
  top: $frame-elements-movement;
}

#cta {
  @extend %zero-opacity;
  z-index: 202;
}

#arrow {
  @extend %zero-opacity;
  z-index: 202;
}
